name: Node

on:
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  auto_merge:
    concurrency:
      group: dependabot-auto-merge
      cancel-in-progress: false
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs: test
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Configure git
        run: |
          git config user.name 'dependabot[bot]'
          git config user.email '49699333+dependabot[bot]@users.noreply.github.com'

      - name: Increment minor version for dependency updates
        id: version_bump
        run: |
          NEW_VERSION=$(npm version patch)
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT
          git push

      - uses: TSRBerry/unstable-commands@v1
        with:
          commands: gh pr merge -s "$PR_URL"
          timeout-minutes: "2"
          retry-codes: 1
          max-retries: 5
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Reset version bump on failure
        if: ${{ failure() && steps.version_bump.outcome == 'success' }}
        run: |
          git reset --hard HEAD~1
          git push --force-with-lease

      - uses: actions/checkout@v6
        with:
          ref: master

      - name: Push tag
        run: |
          git tag ${{ steps.version_bump.outputs.version }}
          git push --tags

  publish:
    if: github.actor == 'dependabot[bot]'
    needs: [test, auto_merge]
    uses: ./.github/workflows/publish.yml
    permissions:
      packages: write
      contents: write
